header {
	background-color: #87CEEB;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 20px;
	font-size: 36px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
	line-height: 1.5;
}

body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}